<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>day7 - 雙向資料綁定</title>
    <style>
        #app {
            padding: 1rem 3rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>{{ text }}</p>
        <p><input type="text" v-model.trim="text">加上trim，可去頭尾空白</p>
        <p><textarea name="" id="" v-model="text"></textarea></p>
        <hr>
        <p><input type="checkbox" v-model="edm">訂閱EDM</p>
        <div>
            單選
            <p><input type="radio" v-model="checkSingle" value="A">A</p>
            <p><input type="radio" v-model="checkSingle" value="B">B</p>
            <p><input type="radio" v-model="checkSingle" value="C">C</p>
        </div>
        <div>
            多選(data裡使用陣列，當勾選時會將資料加進陣列)
            <p><input type="checkbox" v-model="checkArr" value="A">A</p>
            <p><input type="checkbox" v-model="checkArr" value="B">B</p>
            <p><input type="checkbox" v-model="checkArr" value="C">C</p>
        </div>
        這個直接取value都是字串，會有轉型(型態)的問題，但v-model綁上修飾符number，資料就會變成數值(從vue的主控台可看到)
        <div>
            <p><input type="radio" value="0" v-model.number="gender">女</p>
            <p><input type="radio" value="1" v-model.number="gender">男</p>
            <p><input type="radio" value="2" v-model.number="gender">無性別</p>
        </div>
        <div>
            <p>select</p>
            <select v-model="selected">
                <!--disabled的話下拉選單初始顯示的項目會是A，所以這是個必選的select-->
                <option disabled value="">Please select one</option>
                <option value="AA">A</option>
                <option value="BB">B</option>
                <option value="CC">C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <div>
            <p>所有tag都可觸發focus和blur事件</p>
            <div id="blurDiv" tabIndex="1">這是個div，點我觸發focus/blur</div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                text: 'Ruru GO',
                edm: true,
                checkSingle: 'A',//連動input radio的value
                checkArr: [],
                gender: 0,
                selected: ''
            },
        })


        // 測試div監聽focus
        document.getElementById('blurDiv').addEventListener('focus', function () {
            console.log('focus')
        })
        // 測試div監聽blur
        document.getElementById('blurDiv').addEventListener('blur', function () {
            console.log('blur')
        })

    </script>
</body>

</html>