<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>day8 - 第一季總回顧 - 用CRUD實作todolist(不拿index當key用)</title>
    <style>
        #app {
            padding: 1rem 3rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>不拿index當key用</h1>
        <h2>按enter時能輸入資料進去，然後資料清空</h2>
        * mac先上@compositionstart不能成功觸發，所以mac改用輸入按鈕，不要監聽enter<br>
        <p>
            <input type="text" v-model="inputText" @compositionstart="cstartHanlder" @compositionend="cendHanlder"
                @keyup.enter="inputHandler">
        </p>
        <div>
            <div>
                沒有資料能做key值的話，能用新增資料時的時間作為key，但還是以後端傳的資料(可能為id)為key比較好
                <ul>
                    <li v-for="(item,index) of list" :key="item.timestamp">

                        <!-- 要做修改的效果所以包成template並判斷 -->
                        <!-- 1.修改的 -->
                        <template v-if="editing === item">
                            <input type="text" v-model="editingText">
                            <button @click="completeHandler">完成</button>
                            <button @click="cancelHandler">取消</button>
                        </template>
                        <!-- 2.顯示的 -->
                        <template v-else>
                            <input type="checkbox" v-model="item.status">{{ item.content }}
                            <!-- 點擊修改就會讓eaditing==index，上方綁定的editingText也會有資料-->
                            <!-- 原本是index-> editHanlder(item)，改用item-->
                            <!-- 就是盡量不要用index當key，比較不容易某個環節出錯-->
                            <button @click="editHanlder(item)">修改</button>
                            <button @click="deleteHandler(index)">刪除</button>
                        </template>

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                inputText: '',
                list: [],
                compositionStatus: false,//預設false,表示還沒開始輸入法的輸入
                editing: null,
                editingText: ''
            },
            methods: {
                cstartHanlder() {
                    this.compositionStatus = true
                },
                cendHanlder() {
                    this.compositionStatus = false
                },
                inputHandler() {
                    if (this.compositionStatus) return false
                    //推資料進list(包成object,不建議用陣列放一般資料，文字、數字基本資料)
                    this.list.push({
                        timestamp: new Date().getTime(),//作為key使用
                        status: false,//預設false,表示事項未完成
                        content: this.inputText
                    })
                    //推進去後input清掉資料
                    this.inputText = ''

                },
                //偷懶先用index 
                deleteHandler(index) {

                    //這裡用filter寫
                    //filter可以用不同key值、不同內容做篩選條件(timestamp也可以做篩選條件)
                    this.list = this.list.filter((item, i) => {
                        //item就是物件其中一筆資料(含content/status/timestamp)

                        //會console跑出所有的i
                        console.log('i=', i)
                        //這是要被刪除的index
                        console.log('index=', index)
                        //現有的i不等於index才留下來(取得不等於index的i資料)
                        return i != index
                    })

                    //也可用splice，因為splice真正刪掉陣列資料(slice不會真的刪除資料)
                    //spice(start,deleteCount)，0為不刪除，這裏做刪除1筆資料
                    //陣列太大的話，splice會比filter效能好一點
                    //splice只能用index做篩選條件
                    this.list.splice(index, i)
                },
                editHanlder(item) { //原本傳index，現改用item

                    //原寫法：用index
                    // this.editing = index

                    //editing塞進所選中的那筆物件資料
                    this.editing = item

                    //此時已經可以抓到edition裡的content
                    this.editingText = this.editing.content
                },
                completeHandler() {
                    //能成功抓到edition.content，是因為在editHanlder時，已經為editing塞進物件資料，
                    //所以這裡可以抓到edition裡的content
                    this.editing.content = this.editingText
                    this.cancelHandler() //要清空，上面我自己寫的忘了清空
                },
                cancelHandler() {
                    this.editingText = ''
                    this.editing = null
                }

            }
        })

    </script>
</body>

</html>